--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: approval_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approval_status_enum AS ENUM (
    'UNAPPROVED',
    'APPROVED'
);


ALTER TYPE public.approval_status_enum OWNER TO postgres;

--
-- Name: release_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.release_status_enum AS ENUM (
    'ONGOING',
    'COMPLETED',
    'UPCOMING'
);


ALTER TYPE public.release_status_enum OWNER TO postgres;

--
-- Name: role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.role_enum AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public.role_enum OWNER TO postgres;

--
-- Name: update_movie_rate(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_movie_rate() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
    BEGIN
        -- Update movie_rate dengan rata-rata comment_rate dari semua komentar untuk movie_id yang bersangkutan
        UPDATE movies
        SET movie_rate = (
            SELECT AVG(comment_rate) 
            FROM comments 
            WHERE movie_id = NEW.movie_id
        )
        WHERE movie_id = NEW.movie_id;

        RETURN NEW;
    END;
    $$;


ALTER FUNCTION public.update_movie_rate() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acted_in; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acted_in (
    movie_id integer NOT NULL,
    actor_id integer NOT NULL
);


ALTER TABLE public.acted_in OWNER TO postgres;

--
-- Name: actors_actor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.actors_actor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actors_actor_id_seq OWNER TO postgres;

--
-- Name: actors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actors (
    actor_id integer DEFAULT nextval('public.actors_actor_id_seq'::regclass) NOT NULL,
    actor_name character varying(255) NOT NULL,
    birth_date date,
    foto_url text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.actors OWNER TO postgres;

--
-- Name: available_on; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.available_on (
    movie_id integer NOT NULL,
    platform_id character varying(10) NOT NULL
);


ALTER TABLE public.available_on OWNER TO postgres;

--
-- Name: awarded; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.awarded (
    movie_id integer NOT NULL,
    award_id integer NOT NULL
);


ALTER TABLE public.awarded OWNER TO postgres;

--
-- Name: awards_award_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.awards_award_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.awards_award_id_seq OWNER TO postgres;

--
-- Name: awards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.awards (
    award_id integer DEFAULT nextval('public.awards_award_id_seq'::regclass) NOT NULL,
    award_name character varying(255) NOT NULL,
    year integer NOT NULL,
    country_id character varying(10),
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.awards OWNER TO postgres;

--
-- Name: categorized_as; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorized_as (
    movie_id integer NOT NULL,
    genre_id integer NOT NULL
);


ALTER TABLE public.categorized_as OWNER TO postgres;

--
-- Name: comments_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comments_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_comment_id_seq OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    comment_id integer DEFAULT nextval('public.comments_comment_id_seq'::regclass) NOT NULL,
    comment_rate numeric(3,1),
    detail_comment text,
    approval_status public.approval_status_enum,
    created_time timestamp without time zone,
    updated_at timestamp without time zone,
    user_id integer,
    movie_id integer
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: countries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.countries (
    country_id character varying(10) NOT NULL,
    country_name character varying(255) NOT NULL,
    flag_url text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.countries OWNER TO postgres;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.genres_genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genres_genre_id_seq OWNER TO postgres;

--
-- Name: genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genres (
    genre_id integer DEFAULT nextval('public.genres_genre_id_seq'::regclass) NOT NULL,
    genre_name character varying(255) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.genres OWNER TO postgres;

--
-- Name: movies_movie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movies_movie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movies_movie_id_seq OWNER TO postgres;

--
-- Name: movies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movies (
    movie_id integer DEFAULT nextval('public.movies_movie_id_seq'::regclass) NOT NULL,
    poster_url text,
    title character varying(255) NOT NULL,
    alternative_title character varying(255),
    movie_rate numeric(3,1),
    views integer,
    year integer NOT NULL,
    synopsis text,
    release_status public.release_status_enum,
    approval_status public.approval_status_enum,
    link_trailer text,
    country_id character varying(10),
    user_id integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.movies OWNER TO postgres;

--
-- Name: platforms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platforms (
    platform_id character varying(10) NOT NULL,
    platform_name character varying(255) NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.platforms OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer DEFAULT nextval('public.users_user_id_seq'::regclass) NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password text,
    role public.role_enum NOT NULL,
    foto_profil_url text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    is_suspended boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlists (
    movie_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.wishlists OWNER TO postgres;

--
-- Data for Name: acted_in; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: actors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: available_on; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: awarded; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.awarded (movie_id, award_id) FROM stdin;
1	100
1	101
1	102
2	103
2	100
78	104
78	105
\.


--
-- Data for Name: awards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categorized_as; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (comment_id, comment_rate, detail_comment, approval_status, created_time, updated_at, user_id, movie_id) FROM stdin;
3	5.0	Film yang bagus!	APPROVED	2024-11-10 08:05:29.098741	2024-11-10 08:05:29.098741	1000	1
4	5.0	Serem banget filmnya	APPROVED	2024-11-11 07:39:59.053193	2024-11-11 07:39:59.053193	1001	2
1	4.0	Film yang bagus!	APPROVED	2024-11-10 07:59:04.748763	2024-11-10 07:59:04.748763	1001	1
5	5.0	GOOD 	UNAPPROVED	2024-11-11 14:20:18.57969	2024-11-11 14:20:18.57969	1000	8
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: platforms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wishlists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlists (movie_id, user_id) FROM stdin;
1	1001
26	1001
27	1001
40	1001
50	1001
1	1007
\.


--
-- Name: actors_actor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actors_actor_id_seq', 5039236, true);


--
-- Name: awards_award_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.awards_award_id_seq', 106, true);


--
-- Name: comments_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comments_comment_id_seq', 5, true);


--
-- Name: genres_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genres_genre_id_seq', 22, true);


--
-- Name: movies_movie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movies_movie_id_seq', 78, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1008, true);


--
-- Name: acted_in acted_in_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acted_in
    ADD CONSTRAINT acted_in_pkey PRIMARY KEY (movie_id, actor_id);


--
-- Name: actors actors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_pkey PRIMARY KEY (actor_id);


--
-- Name: available_on available_on_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.available_on
    ADD CONSTRAINT available_on_pkey PRIMARY KEY (movie_id, platform_id);


--
-- Name: awarded awarded_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awarded
    ADD CONSTRAINT awarded_pkey PRIMARY KEY (movie_id, award_id);


--
-- Name: awards awards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awards
    ADD CONSTRAINT awards_pkey PRIMARY KEY (award_id);


--
-- Name: categorized_as categorized_as_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorized_as
    ADD CONSTRAINT categorized_as_pkey PRIMARY KEY (movie_id, genre_id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (comment_id);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (country_id);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (genre_id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (movie_id);


--
-- Name: platforms platforms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms
    ADD CONSTRAINT platforms_pkey PRIMARY KEY (platform_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (movie_id, user_id);


--
-- Name: idx_acted_in_actor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_acted_in_actor_id ON public.acted_in USING btree (actor_id);


--
-- Name: idx_actors_actor_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actors_actor_name ON public.actors USING btree (actor_name);


--
-- Name: idx_available_on_platform_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_available_on_platform_id ON public.available_on USING btree (platform_id);


--
-- Name: idx_awarded_award_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_awarded_award_id ON public.awarded USING btree (award_id);


--
-- Name: idx_awards_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_awards_year ON public.awards USING btree (year);


--
-- Name: idx_categorized_as_genre_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categorized_as_genre_id ON public.categorized_as USING btree (genre_id);


--
-- Name: idx_comments_movie_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_comments_movie_id ON public.comments USING btree (movie_id);


--
-- Name: idx_countries_country_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_countries_country_name ON public.countries USING btree (country_name);


--
-- Name: idx_genres_genre_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_genres_genre_name ON public.genres USING btree (genre_name);


--
-- Name: idx_movies_country_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movies_country_id ON public.movies USING btree (country_id);


--
-- Name: idx_movies_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movies_title ON public.movies USING btree (title);


--
-- Name: idx_movies_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movies_user_id ON public.movies USING btree (user_id);


--
-- Name: idx_movies_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movies_year ON public.movies USING btree (year);


--
-- Name: idx_platforms_platform_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platforms_platform_name ON public.platforms USING btree (platform_name);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_wishlists_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_wishlists_user_id ON public.wishlists USING btree (user_id);


--
-- Name: comments trigger_update_movie_rate; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_movie_rate AFTER INSERT ON public.comments FOR EACH ROW EXECUTE FUNCTION public.update_movie_rate();


--
-- Name: comments trigger_update_movie_rate_on_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_movie_rate_on_update AFTER UPDATE ON public.comments FOR EACH ROW EXECUTE FUNCTION public.update_movie_rate();


--
-- Name: acted_in acted_in_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acted_in
    ADD CONSTRAINT acted_in_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.actors(actor_id) ON DELETE RESTRICT;


--
-- Name: acted_in acted_in_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acted_in
    ADD CONSTRAINT acted_in_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: available_on available_on_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.available_on
    ADD CONSTRAINT available_on_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: available_on available_on_platform_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.available_on
    ADD CONSTRAINT available_on_platform_id_fkey FOREIGN KEY (platform_id) REFERENCES public.platforms(platform_id) ON DELETE RESTRICT;


--
-- Name: awarded awarded_award_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awarded
    ADD CONSTRAINT awarded_award_id_fkey FOREIGN KEY (award_id) REFERENCES public.awards(award_id) ON DELETE RESTRICT;


--
-- Name: awarded awarded_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awarded
    ADD CONSTRAINT awarded_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: awards awards_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awards
    ADD CONSTRAINT awards_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.countries(country_id) ON DELETE RESTRICT;


--
-- Name: categorized_as categorized_as_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorized_as
    ADD CONSTRAINT categorized_as_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.genres(genre_id) ON DELETE RESTRICT;


--
-- Name: categorized_as categorized_as_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorized_as
    ADD CONSTRAINT categorized_as_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: comments comments_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: movies movies_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.countries(country_id) ON DELETE RESTRICT;


--
-- Name: movies movies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: wishlists wishlists_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(movie_id) ON DELETE RESTRICT;


--
-- Name: wishlists wishlists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

